.ppv.headertable tr
{
    font-weight:    bold;
    background:     #eee;
}

.ppv.ci
{
    font-size:      small;
    text-align:     center;
    background:     #eee;
}

.ppv.ci img
{
    vertical-align: middle
}
