.ppv.headertable
{
    border-style:   solid;
    border-width:   medium;
    border-color:   #aaa;
}

.ppv.headertable tr
{
    background:     #eee;
}

.ppv.ci
{
    font-size:      small;
    text-align:     center;
    background:     #eee;
}

.ppv.ci img
{
    vertical-align: middle
}
